.blue {
    background: blue;
    height: 100px;
    width: 100px;
    float: left;
}
.green {
    background: green;
    height: 100px;
    width: 100px;
    float: right;
}
.red {
    background: red;
    height: 100px;
    width: 100px;
    clear: both;
    display: block;
    margin: auto;
}